/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
	overflow-y: scroll; /* Sempre mostra a barra de rolagem vertical */
}

/* Layout */

#area-cabecalho {
	background-color: rgb(34, 141, 34);
	padding: 15px;
	text-align: center;
}
#area-cabecalho .aviso-login{
	color:white;
}

#area-logo, #area-menu {
	
	padding: 10px;
}
#area-menu{
	display: flex;
	justify-content: center;
}
#area-principal {
	width: 1100px;
	margin: 0 auto;
	padding: 15px;
}
#area-menu .cadastro_login_right{
	display: flex;
	color: #FFF;
	padding: 0;
	gap: 5px;
	justify-content: end;
}
#area-menu{
	gap: 5px;
}

#area-cabecalho #area-menu a:hover{
	background-color: #F7800F;
	border-radius: 5px;
}

.postagem h2{
	color: rgb(2, 102, 2);
}

#area-postagens {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
    width: 880px;
}
.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.conteudo-lateral , a{
	color: rgb(9, 82, 9);
	text-decoration: none;
	
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
	width: 890px;
}
.postagem h2{
	text-align: center;
}


/* Formatação do menu */
a{
	text-decoration: none;
}

 a:link,  a:visited {
	color: green;
	
}

 a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: black;
	background: #FFF;
	text-decoration: none;
}

/* Formatações em geral */



.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}
.sugestao{
	width: 100%;
}

.cadastro_option {
    display: flex;
    justify-content: center;
    align-items: start;
	
    /* height: 100vh; */
}

.login-box {
	margin: 0 auto;
    background-color: #fff;
    padding: 2px 0px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center; /* Centraliza o texto */
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: center; /* Centraliza o conteúdo do grupo */
}

.login-box input{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
}
.login-box h6{
	margin-top: 10px;
	color: red;
}
.input-group #cnpj{
	margin-bottom: 10px;
}
.input-endereco{
	display:flex ;
	margin-bottom: 30px;
}

.input-endereco label{align-content: center;}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}

input[type="email"],
input[type="password"],
input[type="text"],

input[type="tel"],
input[type="file"],
input[type="number"] {
    width: 100%; /* Faz os inputs ocuparem 100% da largura */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}
.login-box select{
	width: 100%; /* Faz o select ocupar 100% da largura */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.input-time{
	display: flex;
	gap: 10px;
	margin: 20px;

}
.input-time input[type="time"]{
	width: 30%;
	padding: 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
	justify-content: start;

}
.largura_menor{
	width: 40% ;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

}
.largura_menor .input-group{
	margin: 20px ;
}

.container .login-box .input-group .inline {
	display: flex;
	flex-direction: row;
}

.input-name {
	display: flex;
	margin-bottom: 15px;
    text-align: center; /* Centraliza o conteúdo do grupo */
}
.input-name input{
	width:50%;
	margin-left: 0px;
}
.input-name label{
	margin-right:0px ;
}
.input-group #senha{width:80%;}
.input-group #senha , #mostrarSenha{
	display: flex;

}
.input-compra{
	display: flex;
	margin-bottom: 15px;
    text-align: center;
}
.input-compra p {
	margin-right: 30px;
}
.input-compra label{
	width: block;

}.input-compra input{
	box-shadow: none;
}



input[type="number"]::-webkit-inner-spin-button,/*oculta as setas de incremento no chrome*/
input[type="number"]::-webkit-outer-spin-button {/*oculta as setas de incremento no firefox*/
    display: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.button_padrao {
	font-size: 18px;
    padding: 10px;
    background-color: #F7800F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-bottom: 5px;
}
.button_padrao{
	font-size: 18px;
    padding: 10px;
    background-color: #F7800F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-bottom: 5px;
}

.button_padrao:hover {
    background-color: #d66800;
	color: black;
}
.cadastro_option .login-box .btn_left{
	justify-content: left;
}


#mostrarSenha {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F7800F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden; /* Garantir que a linha não saia dos limites do botão */
}

#mostrarSenha::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%; /* Ajusta a posição inicial para fora do botão */
    width: 120%; /* Aumenta a largura para cobrir toda a diagonal */
    height: 2px; /* Espessura da linha */
    background-color: black; /* Cor da linha */
    transform: rotate(-45deg); /* Rotaciona a linha para diagonal */
    display: none; /* Inicialmente invisível */
}

#mostrarSenha.active::before {
    display: block; /* Torna a linha visível quando a classe 'active' está presente */
}
table,tr,th,thead{
	border: 1px solid black;
	width: auto;
}
#btn_tabela{
	font-size: 10px;
    padding: 10px;
    background-color: #F7800F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-bottom: 5px;
}
.imagem{
	width: 60px;
}
.imagem:hover{
	width: 500px;
	
}
table,tr,thead,caption{
	border: 1px solid black;
	height: 20px;
	align-items: center;
	background-color:#ccc;
	border-radius: 5px;

}
th{
	width: 100px;
	height: 30px;
	border: 1px solid black;
	padding: 20px;
	background-color: #e6e6e6;
}
.postagem_adm{
	padding: 650px;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-left:10px;
	background: white;
    width: 880px;
	align-items: left;
	flex-wrap: wrap;
	border-left: 300px;
	text-align: left;
}
.postagem_admtit{
	text-align: center;
}
#area_principal2{
	padding: 1200px;
    padding-right: 3000px;
}